@font-face {
    font-family: "Transforma Mix";
    src: url("/font/TransformaMix_Trial-ExtraLight.woff") format("woff"),
        url(/font/TransformaMix_Trial-ExtraLight.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Transforma Mix";
    src: url("/font/TransformaMix_Trial-SemiBold.woff") format("woff"),
        url("/font/TransformaMix_Trial-SemiBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Transforma Mix";
}

.first-page {
    background-image: url(/image/Balloon\ Experience.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 100px 20px 100px;
    border-radius: 40px;
}

nav > .logo > a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-left: 30px;
}

nav > .menu > ul {
    display: flex;
    list-style: none;
    gap: 40px;
    font-weight: 600;
}

nav > .menu > ul > a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 7px 25px 7px 25px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

nav > .menu > ul > a:hover {
    transform: scale(1.1);
    background-color: rgb(255, 255, 255, 0.2);
}

marquee {
    width: 100%;
    background-color: white;
    padding: 10px 0px 10px 0px;
    position: absolute;
}

marquee > span {
    font-size: 15px;
    font-weight: 600;
    background: url(/image/Balloon\ Experience.jpg);
    background-clip: text;
    color: transparent;
}

.see-more-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 550px;
}

.see-more-products-container > p {
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
}

.see-more-products-container > button {
    font-family: montserrat;
    font-size: 27px;
    border-radius: 50%;
    background-color: transparent;
    border: 1.5px solid white;
    color: white;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-more-products-container > button:hover {
    background-color: white;
    color: black;
}

.see-more-products-container > button > a {
    text-decoration: none;
    color: white;
}

.see-more-products-container > button:hover a {
    color: black;
    transition: all 0.5s ease;
}

.see-more-products-container > button:hover > p {
    background: url(/image/Balloon\ Experience.jpg);
    background-clip: text;
    color: transparent;
}

.slide-product-container {
    height: 450px;
    overflow: hidden;
    margin: auto;
    margin: 150px 90px 0px 90px;
    border-radius: 50px;
    background-color: transparent;
}

.slide-product-container > .title {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30%;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.slide-product-container > .title > h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.slide-product-container > .product-container {
    display: flex;
    z-index: -1;
    transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
    position: relative;
    top: -190.59px;
    width: calc(100vw - 180px);
}

.slide-product-container > .product-container > .product > img {
    width: calc(100vw - 197px);
    height: 450px;
    object-fit: cover;
    border-radius: 50px;
    filter: brightness(0.6);
    z-index: 1;
}

.bussiness-partners-container {
    width: 100%;
    height: 130px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bussiness-partners-container > .partners {
    display: flex;
    height: 100px;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.bussiness-partners-container > .partners > img,
.bussiness-partners-container > .partners > svg {
    width: 120px;
    aspect-ratio: 3/2;
    object-fit: contain;
    background-color: white;
    padding: 0px 20px 0px 20px;
}

.bussiness-partners-container > .line {
    width: 100%;
    height: 1px;
    background-color: rgb(0, 42, 87);
    z-index: -1;
    position: relative;
    top: -50px;
}

.list-popular-products-container {
    margin: 150px 90px 0px 90px;
    display: flex;
    flex-direction: column;
}

.list-popular-products-container > .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
    background: url(/image/Balloon\ Experience.jpg);
    background-clip: text;
    color: transparent;
}

.list-popular-products-container > .products-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}

.list-popular-products-container > .products-container > .product {
    border: 2px solid rgb(232, 232, 232);
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    border-radius: 34px;
    align-items: center;
    padding-top: 14px;
    transition: all 0.3s ease;
}

.list-popular-products-container > .products-container > .product > img {
    flex: 3;
    height: 350px;
    width: 320px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.list-popular-products-container > .products-container > .product:hover {
    transform: translate(-6px, -9px);
    box-shadow: 7px 7px 20px rgb(199, 199, 199);
}

.list-popular-products-container > .products-container > .product > .inf {
    flex: 1;
    width: 300px;
    padding-left: 20px;
}

.list-popular-products-container
    > .products-container
    > .product
    > .inf
    > .name {
    font-size: 15px;
    font-weight: 600;
}

.list-popular-products-container
    > .products-container
    > .product
    > .inf
    > .price {
    font-size: 16px;
    font-family: montserrat;
    font-weight: 300;
    margin: 5px 0px 8px 0px;
}

.list-popular-products-container
    > .products-container
    > .product
    > .inf
    > .color {
    display: flex;
    gap: 23px;
    margin-bottom: 5px;
    margin-left: 3px;
}

.list-popular-products-container
    > .products-container
    > .product
    > .inf
    > .color
    > div {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid rgb(188, 188, 188);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-popular-products-container
    > .products-container
    > .product
    > .inf
    > .color
    > div:hover {
    border: 2px solid black;
}

.list-popular-products-container
    > .products-container
    > .product
    > .inf
    > .color
    > div
    > div {
    width: 14px;
    height: 14px;
    box-shadow: 0px 0px 2px black;
    border-radius: 50%;
}

.list-popular-products-container
    > .products-container
    > .product
    > .inf
    > .size {
    display: flex;
    gap: 12px;
}

.list-popular-products-container
    > .products-container
    > .product
    > .inf
    > .size
    > div {
    cursor: pointer;
    width: 25px;
    padding: 0px 3px 0px 3px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-popular-products-container
    > .products-container
    > .product
    > .inf
    > .size
    > div:hover {
    padding: 0px 3px 0px 3px;
    border-radius: 10px;
    border: 1px solid rgb(188, 188, 188);
}

.list-popular-products-container
    > .products-container
    > .product
    > .inf
    > .size
    > div:target {
    padding: 0px 3px 0px 3px;
    border-radius: 10px;
    border: 1px solid black;
}

footer {
    background: url(/image/Balloon\ Experience.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 150vw;
    color: white;
    border-radius: 40px;
    margin: 170px 20px 20px 20px;
}

footer > .container {
    display: flex;
    flex-direction: column;
}

footer > .container > .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

footer > .container > .bottom {
    display: flex;
    justify-content: space-between;
}

footer > .container > .top > .right {
    width: 600px;
    height: 100%;
    padding: 50px 70px 0px 0px;
}

footer > .container > .top > .left {
    width: 600px;
    height: 100%;
    padding: 50px 0px 0px 70px;
}

footer > .container > .top > .left > .contact-us > .title {
    text-transform: uppercase;
    margin-bottom: 30px;
}

footer > .container > .top > .left > .contact-us > .email {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
    border: 1px solid white;
    padding: 6px 0px 4px 20px;
    border-radius: 20px;
}

footer > .container > .top > .left > .contact-us > .email > a{
    text-decoration: none;
    color: white;
}

footer > .container > .top > .left > .contact-us > .email > a:hover{
    text-decoration: underline;
}

footer > .container > .top > .left > .call-us > .title {
    text-transform: uppercase;
    margin-bottom: 30px;
}

footer > .container > .top > .left > .call-us > .number {
    font-size: 28px;
    font-weight: 700;
    border: 1px solid white;
    padding: 6px 0px 4px 20px;
    border-radius: 20px;
}

footer > .container > .top > .left > .call-us > .number > a {
    text-decoration: none;
    color: white;
}

footer > .container > .top > .left > .call-us > .number > a:hover {
    text-decoration: underline;
}

footer > .container > .top > .right > .follow-me > .title {
    text-transform: uppercase;
    margin-bottom: 30px;
}

footer > .container > .top > .right > .follow-me > .logo {
    display: flex;
    gap: 30px;
}

footer > .container > .top > .right > .follow-me > .logo > a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid transparent;
}

footer > .container > .top > .right > .follow-me > .logo > a > img {
    width: 30px;
}

footer > .container > .top > .right > .follow-me > .logo > a:hover {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
}

footer> .container > .bottom > .logo{
    font-size: 32px;
    font-weight: 700;
    width: 600px;
    padding: 0px 0px 50px 70px;
}

footer> .container > .bottom > .shop{
    width: 600px;
    padding: 0px 70px 0px 0px;
    font-size: 32px;
    font-weight: 700;
}